	.atendimento{
	$self : &;
	@extend %boxFull;
		background: url(../images/bg_atendimento.png);
		background-position: center;
    	background-size: cover;
   	    background-attachment: fixed;
		display: inline-block$i;
		position: relative;
		margin-top: 90px;

		
		@include e('boxform'){
			

			
				display: inline-block;
				margin: 0 0 90px 0;
			
		}

		@include e('groupend'){
			@include span(1);
				padding: 2% 6% 6%;
				background: $blue2;
				box-shadow:  10px 1px 11px 0px #000;
				color: $white;
				line-height: 50px;
				
				span{
					display: inline-block;
					margin-left: 3%;
					text-align: left;
					letter-spacing: 2px;
					@include fonts(400,14);

					strong{
						
						@include fonts(700,14);

					}
				}

				@include respond-to(sm){
			    	height: 306px;
			    	padding: 3% 6%;
					
				}

			@include respond-to(sm){
				@include span(.3);
			
			}
		}

		@include e('fone'){
			    margin: 13px 0;
		}
		@include e('endereco'){
			line-height: 1;
    		margin-top: 19px;
    		
    		.fa2{
    				vertical-align: top$i;
    			}
		}

		@include e('form'){
			
			background: #fff;
			display: inline-block;
			margin: 0$i;
			padding: 6%;	
			@include respond-to(sm){
				height: 306px;
				padding: 3%;
			}
			
				.form{
					margin: 0;
					@include fonts(500,12);
					text-transform: uppercase;
					.btn{
						position: absolute;
					    width: 36px;
					    height: 31px;
					    right: 0px$i;
    					bottom: 0px$i;

    					@include m('interno'){
    						position: relative;
    						display: block;
    					}
					}
				}
				.form__msg{
						float: left$i;
					}
				.form input:focus, .form select:focus, .form textarea:focus{
					@extend %transitionAll;
					border-color: transparent;
					border-bottom: 1px solid $blue2;
					border-right: 0;
					border-left: 0;
				}
				.form textarea:focus, .form select:focus, .form textarea:focus{
					border-right: 2px solid #fff$i;
					border-left:  2px solid #fff$i;;
					border-color: transparent;
					border-bottom: 1px solid $blue2;
				}
				textarea{

					background: $white;
					border-bottom: 1px solid #aaa;
					height: 70px;
					min-height: 100%;
					width: 100%;
				    float: left;
				    clear: both;
				    padding-right: 15%;

				}
				input{
					position: relative;
					background-color: #fff;
					border-bottom: 1px solid #aaa;
					border-right: 0;
					border-left: 0;
					border-radius: 0;
					margin-bottom: 9.7px;
					padding: 0 4px$i;
				}
				input[type="submit"]{
					margin: 25px 0;
				    font-size: 0;
				    background: url(../images/send-mail.png);
				    background-color: transparent;
				    display: block;
				    border-right: 0;
					border-left: 0;
					height: 27px$i;
				    position: absolute;
				    display: block;
				    width: 35px$i;

				    &:hover{
				    	    background: url(../images/send-mail-hover.png);
						    height: 27px;
						    width: 35px;

				    }

				}
				



				@include respond-to(sm){
					@include span(.7);
				}
		}
}