//REDES SOCIAIS
.social {
    @include e('item'){
        margin: rem(2) rem(0);
        font-size: rem(20);
        display: inline-block;
        text-transform: uppercase;
        position: relative;
    }

    @include e('link') {
        color: inherit;
        padding: rem(5);
        display: block;

        &:hover {
            color: inherit;
        }
    }
}