// ==========================================================================
// MIXINGS
// Definião de todos os @mixings do projeto
// Não remover para não causar crash no SASS
// ==========================================================================

// -----------------------------------------------------------
// JEET
// An alias for the column mixin.
// @param [$args...] - All arguments get passed through to column().
// -----------------------------------------------------------

@mixin col($args...) {
  @include column($args...);
}

// -----------------------------------------------------------
// BEM - https://en.bem.info/method/
// Estruturação do CSS em BEM
// -----------------------------------------------------------

@mixin element($element, $parent: false) {
    @if $parent != false {
      #{$parent}__#{$element} {
        @content;
      }
    } @else {
      &__#{$element} {
        @content;
      }
    }
}

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

@mixin e($element, $parent: false) {
    @include element($element, $parent)  {
        @content;
    }
}

@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}

// -----------------------------------------------------------
// RESPONSIVO
// Regras das Media QUeries para responsivo
// -----------------------------------------------------------

$break-mobile: 568px;
$break-small: 767px;
$break-medium: 1023px;
$break-large: 1400px;

@mixin respond-to($media) {

  @if $media == xs {
    @media only screen and (min-width: $break-mobile) { @content; }
  }

  @else if $media == sm {
    @media only screen and (min-width: $break-small) { @content; }
  }

  @else if $media == md {
    @media only screen and (min-width: $break-medium) { @content; }
  }

  @else if $media == lg{
    @media only screen and ( min-width: $break-large){ @content; }
  }
}

//Exibir Itens por Resolução
@mixin view($args...) {

  display: none;
  @include showdiv($args);

}

@mixin showdiv($args) {
  @each $view in $args {

      @if $view == xs {
          @media only screen and (max-width: $break-small) { display: block; }
      }

      @if $view == sm {
          @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { display: block; }
      }

      @if $view == md {
          @media only screen and (min-width: $break-medium) and (max-width: $break-large) { display: block; }
      }

      @if $view == lg{
          @media only screen and ( min-width: $break-large + 1) { display: block; }
      }
  }
}

// -----------------------------------------------------------
// Mix's Padrão
// Conjunto de Mixings padrão do projeto
// -----------------------------------------------------------

//FontAwesome
@mixin icone($icone){
  @extend .fa;
  content: $icone;
}

//Borderline
@mixin borderline($cor:$cor-primaria, $w:80%, $h:2px, $t:0, $l:0, $center:false){
    position: relative;
    &:before {
        content: "";
        position: absolute;
        background: $cor;
        height: $h;
        width: $w;
        left: $l;
        top: $t;

        @if $center == true {
          transform: translateX(-50%);
        }
    }
}

// Width & Height
@mixin size($w,$h:$w) { width: $w; height: $h;}

// Fonts
@mixin fonts( $bold: 400, $size: 12, $font: $font-default) {
  font: $bold rem($size) $font;
}

// Prefixos
@mixin prefix($property, $value, $prefixes:(webkit ms moz o)) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  } // Output standard non-prefixed declaration

  #{$property}: $value;
}

//Titulos
@mixin titles($weight:800, $size:40, $color:$cor-titulos){
    @include fonts($weight, $size);
    color: $color;
    margin: 0;

    a {
      color: inherit;

      &:hover {
        color: darken($color, 10%);
      }
    }
}

//mixin para after de titulos.
@mixin afters( $maxWidth: 68px, $brColor: #000, $isCenter: false){

 &:after {
    width: 100%;
    max-width: $maxWidth;
    content: '';
    display: block;
    border-bottom: 4px solid $brColor;

    @if $isCenter == true {
      line-height: 20px;
      margin-right: auto;
      margin-left: auto;
      padding: 10px 0;
    }

   }

}

//mixin para before de titulos.
@mixin befores( $Width: 232px, $brColor: #fff, $isCenter: false){

 &:before {
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: $brColor;
    content: '';
    display: block;
    left: -34px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
    position: relative;
    top: -74px;
    width: $Width;

   
    @if $isCenter == true {
      line-height: 20px;
      margin-right: auto;
      margin-left: auto;
      padding: 20px 0;
    }

   }
}


//mixin para before de titulos 2.
@mixin beforestwo( $Width: 232px, $brColor: #fff, $isRight: false){
  
  &:before {
    border-width: 0 4px 0 0;
    border-style: solid;
    border-color: $brColor$i;
    content: '';
    display: block;
    left: -222px$i;
    @include respond-to(md){
      left: -112px$i;
    }
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0$i;
    position: relative;
    top: -21px$i;
    width: $Width;

   
    @if $isRight == true {
      line-height: 20px;
      margin-right: auto;
      margin-left: auto;
      padding: 20px 0;
    }

   }

}
//mixin para before de titulos 3.
@mixin beforestree( $Width: 232px, $brColor: #ccc, $isRight: false){
  
  &:before {
    border-width: 0 4px 0 0;
    border-style: solid;
    border-color: $brColor$i;
    content: '';
    display: block;
    left: -232px$i;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0$i;
    position: relative;
    top: -21px$i;
    width: $Width;

   
    @if $isRight == true {
      line-height: 20px;
      margin-right: auto;
      margin-left: auto;
      padding: 20px 0;
    }

   }

}
//mixin para before de titulos 4.
@mixin beforesfourleft( $Width: 232px, $brColor: $blue4){
  &:before {
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: $blue4!important;
    content: "";
    display: block;
    left: -54px!important;
    margin-right: auto;
    margin-left: auto;
    padding: 58px 0!important;
    position: absolute;
    top: -3px!important;
    width: 54px;

   }

}

//mixin para before de titulos 4.
@mixin beforesfourright( $Width: 232px, $brColor: $blue4){
  &:before {
    border-width: 2px 2px 2px 0;
    content: "";
    right: -54px!important;
    left: inherit$i;

   }

}

//Border Radius
@mixin radius($borda...) {
   @include prefix(border-radius, $borda);
}

// Mask Topo
@mixin mask( $opacidade:.7, $bg:.4, $cor:$black) {
  &:before{
    @include size(100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: {
      color: rgba($cor-topo, $bg);
      image: linear-gradient(top, rgba($cor, $opacidade) 10%, transparent 30%);
      image: -webkit-linear-gradient(top, rgba($cor, $opacidade) 10%, transparent 30%);
      image: -moz-linear-gradient(top, rgba($cor, $opacidade) 10%, transparent 30%);
    }
  }
}

// Transição BG
@mixin transition($t) {
  @include prefix(transition, background $t ease-in-out);
}

// Placeholder
@mixin placeholder-text {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

// Image Replace
@mixin imgRep(){
  text-indent: -9999px;
  overflow: hidden;
}


//Btn Modificador
@mixin btnmod($modificador, $cor, $cor-hover:$cor) {
    @include m($modificador){
        background-color: $cor;

      &:hover{
          background-color: darken($cor-hover, 30%);
      }
    }
}